<div class="grid-container">
    <h1 style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top:10px;">Visualization sample, please use the slider to check prior time periods, covering last 12 months as of the end of the month</h1>
    <div style="margin-left: 5%; margin-right: 5%;">
        <app-dashboards-slider [id]="forSlider_1"></app-dashboards-slider>
    </div>
    <mat-grid-list [cols]="breakpoint" rowHeight="35vh" (window:resize)="onResize($event)">
        <!--Table-->
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <app-dashboards-card title="{{titleForCard0}}" data="{{data}}">
                <div added-element>
                    <mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="!showdata"></mat-spinner>
                    <app-dashboards-line-chart [PassedInfo]="d1CI" *ngIf="showdata"></app-dashboards-line-chart>
                </div>
            </app-dashboards-card>
        </mat-grid-tile>
        <!--Charts-->
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <app-dashboards-card title="{{titleForCard1}}" data="{{data}}">
                <div added-element>
                    <mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="!showdata"></mat-spinner>
                    <app-dashboards-bar-chart [PassedInfo]="d2CI" *ngIf="showdata"></app-dashboards-bar-chart>
                </div>
            </app-dashboards-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <app-dashboards-card title="{{titleForCard2}}" data="{{data}}">
                <div added-element>
                    <mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="!showdata"></mat-spinner>
                    <app-dashboards-bar-chart [PassedInfo]="d3CI" *ngIf="showdata"></app-dashboards-bar-chart>
                </div>
            </app-dashboards-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>