<div class="grid-container">
    <h1>Visualization Sample</h1>
    <app-dashboards-slider [id]="forSlider_1"></app-dashboards-slider>
    <mat-grid-list cols="2" rowHeight="250px">
        <!--Table-->
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <app-dashboards-card #myIdentifier title="{{titleForCard0}}">
                <mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="!showdata"></mat-spinner>
                <app-dashboards-line-chart [PassedInfo]="d1CI" *ngIf="showdata"></app-dashboards-line-chart>
            </app-dashboards-card>
        </mat-grid-tile>
        <!--Charts-->
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <app-dashboards-card title="{{titleForCard1}}">
                <mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="!showdata"></mat-spinner>
                <app-dashboards-bar-chart [PassedInfo]="d2CI" *ngIf="showdata"></app-dashboards-bar-chart>
            </app-dashboards-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <app-dashboards-card title="{{titleForCard2}}">
                <mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="!showdata"></mat-spinner>
                <app-dashboards-bar-chart [PassedInfo]="d3CI" *ngIf="showdata"></app-dashboards-bar-chart>
            </app-dashboards-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>