<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="cursor: pointer;" [routerLink]="['/home']">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </mat-toolbar>
        <mat-nav-list>
            <a *ngFor="let item of menuItems" mat-list-item (click)="selected(item)"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{item}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar #top *ngIf="!hidetop" color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Sample {{LabelStr}}</span>
            <mat-icon *ngIf="!hidetop2" style="display: flex; margin-left: auto; cursor: pointer;" (click)="expand()">fullscreen</mat-icon>
            <mat-icon *ngIf="hidetop2" style="display: flex; margin-left: auto; cursor: pointer;" (click)="shrink()">fullscreen_exit</mat-icon>
        </mat-toolbar>
        <mat-icon *ngIf="hidetop" style="display: flex; margin-left: auto; cursor: pointer;" (click)="shrink()">fullscreen_exit</mat-icon>
        <router-outlet>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-progress-info [sentToSignalRChannel]="sentToSignalRChannel" (outputmessageEvent)="receiveFromSignalR($event)">
</app-progress-info>
