<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="cursor: pointer;" [routerLink]="['/home']">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </mat-toolbar>
        <mat-nav-list>
            <a *ngFor="let item of menuItems" mat-list-item (click)="selected(item)">{{item}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar #top *ngIf="!hidetop" color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Sample {{LabelStr}}</span>
            <mat-icon *ngIf="!hidetop2" style="display: flex; margin-left: auto; cursor: pointer;" (click)="expand()">fullscreen</mat-icon>
            <mat-icon *ngIf="hidetop2" style="display: flex; margin-left: auto; cursor: pointer;" (click)="shrink()">fullscreen_exit</mat-icon>
        </mat-toolbar>
        <mat-icon *ngIf="hidetop" style="display: flex; margin-left: auto; cursor: pointer;" (click)="shrink()">fullscreen_exit</mat-icon>
        <router-outlet>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-progress-info [sentToSignalRChannel]="sentToSignalRChannel" (outputmessageEvent)="receiveFromSignalR($event)">
</app-progress-info> -->

<!-- <mat-toolbar *ngIf="!hidenav">
  Card view demo
</mat-toolbar>
<div class="content" *ngIf="!hidenav">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Himalayan Peaks</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="">
    <mat-card-content>
      <p>
        The Himalayas is a mountain range in Asia.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="selected('chart-js')">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div> 
<router-outlet *ngIf="hidenav"></router-outlet> -->
<mat-toolbar>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button *ngFor="let item of menuItems" (click)="selected(item)">{{item}}</a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
        <mat-icon aria-label="Side nav toggle icon" (click)="sidenav.toggle()">menu</mat-icon>
    </div>
    <span class="spacer-left"></span>
    <span>Welcome</span>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="side-panel">
    <mat-sidenav #sidenav fxLayout="column" color="primary">
        <div fxLayout="column">
            <a (click)="sidenav.toggle()" mat-button>
                <mat-icon>close</mat-icon>
            </a>
            <a mat-button *ngFor="let item of menuItems" (click)="selected(item)">{{item}}</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-progress-info [sentToSignalRChannel]="sentToSignalRChannel" (outputmessageEvent)="receiveFromSignalR($event)">
</app-progress-info>

<!-- <mat-toolbar *ngIf="!hidenav">
  Card view demo
</mat-toolbar>
<div class="content" *ngIf="!hidenav">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Himalayan Peaks</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="">
    <mat-card-content>
      <p>
        The Himalayas is a mountain range in Asia.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="selected('chart-js')">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet *ngIf="hidenav"></router-outlet> -->