.vid {
    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
    width: 100%;
    height: 100%;
    /* min-width: 100%;
    min-height: 100%; */
}

.p-1 {
    /* height: 70vh;
    min-height: 70vh;
    max-height: fit-content; */
}

.mat-chip {
    justify-content: space-between;
}


/* .mat-grid-list {
    padding-top: 5% !important;
} */

.pointer {
    cursor: pointer;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    background: #000;
    opacity: 0.75 !important;
}

body {
    margin: 0;
}

.close-right {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 10px;
}